@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// update: global variables
$family-sans-serif: "Nunito", sans-serif;
$grey: grey;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: dodgerblue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// update: component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$link: grey;
$link-hover: $primary;


// variables
@import "./utils/mixins";
@import "./utils/reset";
@import "./utils/utils";
@import "./utils/flex";

@import "./base.scss";

@import "./components/popover";
@import "./components/list";
@import "./components/card";
@import "./components/tabs";
@import "./components/breadcrumb";
@import "./components/navbar";
@import "./components/modal";



.demo-page {
  padding: 50px;
}


