html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $body-background-color;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: $body-background-color;
  font-family: $family-sans-serif;
}

a {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}


.item {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: inherit;
  .item-icon {
    margin-right: 0.5rem;
  }
}
